<div class="row">
  <label for="date" class="col-xs-3 text-right">Date</label>
  <div id="date" class="col-xs-9">{{transactionVm.currentTransaction.date | date}}</div>
</div>
<div class="row">
  <label for="payee" class="col-xs-3 text-right">Payee</label>
  <div id="payee" class="col-xs-9">{{transactionVm.currentTransaction.payee}}</div>
</div>
<div class="row">
  <label for="amount" class="col-xs-3 text-right">Amount</label>
  <div id="amount" class="col-xs-9">{{transactionVm.currentTransaction.amount}}</div>
</div>
<div class="row">
  <label for="account" class="col-xs-3 text-right">Account</label>
  <div id="account" class="col-xs-9">{{transactionVm.currentTransaction.account}}</div>
</div>
<div class="row">
  <label for="checked" class="col-xs-3 text-right">Cleared</label>
  <div id="checked" class="col-xs-9"><input type="checkbox" ng-model="transactionVm.currentTransaction.cleared" disabled></div>
</div>
<div class="row">
  <label for="tag" class="col-xs-3 text-right">Tag</label>
  <div id="tag" class="col-xs-9">{{transactionVm.currentTransaction.tag}}</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="transactionVm.listTransactions()">Ok</button>
</div>